.NavContainer {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
  background-color: #050d1a;
  border-bottom: solid black 1.2px;
}

.NavContainer div {
    margin: 0 1rem;
    
}

.NavContainer div a{
  margin: 0 1rem;
  
}